.Dashboard-Body {
  display: block;
  position: relative;
  margin: 2em 0;
}

.container {
  display: contents;
}

.row {
  margin-bottom: 3em;
}

.Col-BreadCrumb {
  display: flex;
  justify-content: space-between;

  div {
    display: initial;
  }

  .Divider {
    border-right: 2px solid hsl(25, 100%, 55%);
  }

  strong {
    font-size: x-large;
    color: #ff7b1b;
    margin: auto;
    margin-right: 1em;
  }

  .Breadcrumb {
    margin: auto 1em;
    color: #ff7b1b;
  }

  .Gear {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .Button-Gear {
    display: flex;
    justify-content: center;
    width: 75%;
    border-radius: 60%;
    background-color: #ff7b1b;
    border-color: #ff7b1b;
  }

  .Button-Gear:hover,
  .Button-Gear:active,
  .Button-Gear:focus,
  .Button-Gear:visited,
  .show > .btn-primary.dropdown-toggle:focus {
    background-color: #ff9f5b !important;
    border-color: #ff9f5b !important;
    background-image: none !important;
    box-shadow: 0 0 0.2rem rgba(255, 159, 91, 0.5) !important;
  }

  .btn-primary.dropdown-toggle:focus,
  .btn-primary.dropdown-toggle:active {
    background-color: #ff4301;
    border-color: #ff4301;
  }
}

.Info-Search {
  display: flex;
  justify-content: space-between;

  span {
    font-weight: 900;
    color: #505f79;
  }

  .Buttons-Search {
    display: flex;
  }

  .Buttons {
    margin-left: 1em;
  }

  .Dropdown-Search {
    background-color: #ff7b1b;
    border-color: #ff7b1b;
  }

  .Dropdown-Search:hover,
  .Dropdown-Search:active,
  .Dropdown-Search:focus,
  .Dropdown-Search:visited,
  .show > .btn-primary.dropdown-toggle:focus {
    background-color: #ff9f5b !important;
    border-color: #ff9f5b !important;
    background-image: none !important;
    box-shadow: 0 0 0.2rem rgba(255, 159, 91, 0.5) !important;
  }

  .Buttons {
    background-color: #ff7b1b;
    border-color: #ff7b1b;
  }

  .Buttons:hover,
  .Buttons:active,
  .Buttons:focus,
  .Buttons:visited,
  .show > .btn-primary.dropdown-toggle:focus {
    background-color: #ff9f5b !important;
    border-color: #ff9f5b !important;
    background-image: none !important;
    box-shadow: 0 0 0.2rem rgba(255, 159, 91, 0.5) !important;
  }
}

.Button-Search {
  position: relative;
  top: 35px;
  right: 20px;
  z-index: 9999;
  float: right;
  color: #ff7b1b;
}

.Button-Search:hover {
  cursor: pointer;
}

.Div-Cards {
  display: flex;
}

.Cards {
  position: relative;
  float: right;
  margin-left: 2em;
}

.page-item.active .page-link {
  background-color: #ff7b1b;
  border-color: #ff7b1b;
}

@media (max-width: 970px) {
  .Col-Cards {
    margin-top: 1em;
  }
}

@media (max-width: 910px) {
  .Info-Search {
    flex-direction: column-reverse;
  }

  .Buttons-Search {
    margin: 2em 0;
  }
}

@media (max-width: 613px) {
  .Col-BreadCrumb {
    display: block;
  }

  .Gear {
    display: inline-block;
    margin-top: 2em;
    width: fit-content;
  }
}

@media (max-width: 375px) {
  .Buttons-Search {
    display: block;
  }

  .Buttons {
    margin-top: 2em;
  }
}
